body { 
	background: url("shamoon.jpg") no-repeat center center fixed; 
	background-size: cover;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 250%
}
h1{
	background-color: grey;
	color: white;
}
h3{
	background-color: grey;
	color: white;
}