#container{
	width: 90%;
	margin: auto;
	margin-top: 2%;
}
h1{
	font-family: 'Gugi', cursive;
	font-size: 5em;
	text-align: center;
}
#shamoon{
	display: block;
	width: 25%;
	margin: auto;
	margin-bottom: 5%;
}
#video{
	width: 100%;
	height: 800px;
	margin-bottom: 5%;
	display: none;
}
#ibrahimi{
	width: 100%;
	margin: auto;
	display: none;
}